<h1>All Quests</h1>
<table>
  <thead>
    <tr>
      <th class="column-width">Title</th>
      <th class="column-width">Description</th>
      <th class="column-width">Picture</th>
    </tr>
  </thead>

  <tbody>
    <% Quest.all.each do |quest| %>
      <tr>
        <td class="column-width"><%= quest.title %></td>
        <td class="column-width"><%= quest.description %></td>
        <td class="column-width"><%= quest.picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>
